.footer__nav-menu {
    display: flex;
}

.footer__nav-menu-col:first-child {
    margin-right: 35px;
}

@media (max-width: 980px) {
    .footer__nav-menu-col:first-child {
        margin-right: 15px;
    }
}

@media (max-width: 640px) {
    .footer__nav-menu {
        flex-direction: column;
    }

    .footer__nav-menu-col:first-child {
        margin-right: 0;
    }
}
