.block-buttons_selected-date {
    position: relative;
}

.block-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}