.order-section {
    padding: 70px;
    background-color: #F7F5EE;
}

.order-section__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order-section__description_block {
    max-width: 50%;
}

.order-section__block {
    padding: 55px 0;
    border-top: 1px solid #D2D2D2;
}

.order-section__block:first-child {
    padding-top: 0;
    border-top: none;
}

.order-section__block:last-child {
    padding-bottom: 0;
}

.map_block {
    border-radius: 15px;
    margin-top: 30px;
    overflow: hidden;
}

.ya-map {
    width: 600px;
    height: 450px;
}