.apartaments-text__head{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.apartaments-text__adress{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    text-decoration-line: underline;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.apartaments-text__about{
    font-size: 18px;
    columns: 2;
    column-gap: 20px;
    column-fill: auto;
    height: 155px;
}

@media (max-width:960px) {
    .apartaments-text__head{
        font-size: 40px;
    }
    .apartaments-text__about{
        font-size: 16px;
    }
    .apartaments-text__about{
        height: 300px;
    }
}

@media (max-width: 373px) {
    .apartaments-text__head{
        font-size: 28px;
    }
    .apartaments-text__about{
        font-size: 14px;
        height: 100%;
        columns: 1;
    }
    .apartaments-text__adress{
        font-size: 14px;
    }
}