.header{
    background: black;
    position: relative;
    z-index: 0;
}

.flexible-center{
    display: flex;
    align-items: center;
}

.header_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.header_container{
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 64px;
    padding: 0 9px;
    justify-content: space-between;
}

.header__phone{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}