.comforts-list {
    display: flex;
    flex-wrap: wrap;
}

.comfort-item {
    display: flex;
    width: 50%;
    margin-top: 15px;
    &_icon {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &_desc {
        width: 100%;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        padding-left: 15px;
    }
}

@media (max-width: 1200px) {
    .comfort-item {
        width: 50%;
        &:nth-child(2n) {
            padding-left: 20px;
        }
    }

}