.comforts-list {
    display: flex;
    flex-wrap: wrap;
}

.comfort-item {
    display: flex;
    width: 50%;
    align-items: center;
    margin-top: 15px;
    &_icon {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 15px;
    }

    &_desc {
        max-width: 225px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
    }
}