// @import 'shared/styles/fonts.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Forum&family=Inter&family=Raleway:wght@300;400;500;700&display=swap');

* {
    margin: 0;
	padding-left: 0;
	padding-right: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Raleway';
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-decoration: none;
    list-style: none;
}

ul {
    padding-left: 0 !important;
}

.text_font-feature-setting {
    font-feature-settings: 'pnum' on, 'lnum' on;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}