.select_block_wrapper {
    padding: 15px;
    width: 100%;
    background: rgba(212, 190, 158, 0.04);
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select_label {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
    opacity: 0.7;
}

.select-element {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.arrow {
    width: 20px;
    height: 10px;
    background-image: url('./assert/drop-down-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform .2s;
}

.arrow-down {
    transform: rotate(180deg);
} 

@media (max-width: 960px) {
    .select_block_wrapper {
        background: #FFFFFF;
        border-radius: 15px;
    }
} 