.input_component__wrapper {
    max-width: 210px;
}

.input_component__wrapper:first-child {
    margin-right: 5px;
}

.input_component__wrapper:last-child {
    margin-left: 5px;
}

.form_date {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.select-date_wrapper {
    position: relative;
}

.date-picker_wrapper {
    position: absolute;
    top: 0;
    right: -25px;
    width: 820px;
    z-index: 1;
}