.apartments-carousel {
	margin-bottom: 5vh;
	margin-top: 4vh;
}

.apartments-carousel__list {
	display: flex;
	margin-bottom: 2vh;
}

.apartments-carousel__item {
	height: 30vh;
	border-radius: 1vw;
	width: 50%;
	flex-shrink: 0;
}

.apartments-carousel__button-section {
	display: flex;
	justify-content: center;
	margin-top: 2vh;
}

.forward {
	rotate: 180deg;
	margin-left: 2vw;
}

.slick-slide {
	padding: 0 1vw;
	box-sizing: border-box;
}

@media (max-width: 960px) {
	.apartments-carousel__item {
		height: 20vh;
	}
}

@media (max-width: 373px) {
	.apartments-carousel__item {
		height: 50vh;
		width: 100%;
		padding: 0 0px;
		object-fit: cover;
		border-radius: 0px;
	}
	.slick-list {
		padding: 0 0px;
	}
}

