.block-title-h2 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
}

@media (max-width: 960px) {
    .block-title-h2 {
        font-size: 40px;
        line-height: 44px;
    }
}
@media (max-width: 480px) {
    .block-title-h2 {
        font-size: 28px;
        line-height: 32px;
    }
}